@background-color       : #fafafa;

@text-color             : rgba(0,0,0,0.87);
@additional-text-color  : rgba(0,0,0,0.67);
@secondary-text-color   : rgba(0,0,0,0.54);
@hint-text-color        : rgba(0,0,0,0.26);
@divider-color          : rgba(0,0,0,0.12);

@primary-color-light    : #5381ff;
@primary-color-main     : #2962ff;
@primary-color-dark     : #1c44b2;

@secondary-color-light  : #33eb91;
@secondary-color-main   : #00e676;
@secondary-color-dark   : #00a152;

@accent-color           : #FF4081;